ul {
  list-style-type: none;
  padding-left: 0;
  margin-bottom: 0;
}
li:hover {
  text-decoration: underline;
  cursor: pointer;
}
input {
  font-size: 18px;
  height: 34px;
  padding-left: 15px;
  padding-right: 15px;
  box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.2);
}
input[type="time"]::-webkit-calendar-picker-indicator {
  background: none;
}
button,
#search-button,
#location {
  background-color: #72beff;
  color: white;
  padding: 7px 20px;
  line-height: 20px;
  border: 0;
  border-radius: 30px;
  cursor: pointer;
  transition: all 200ms ease-in-out;
  margin-left: 0px;
  font-size: 16px;
  box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.2);
  text-align: center;
}
button:hover,
#search-button:hover {
  opacity: 0.7;
}
footer {
  font-size: 14px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  text-align: center;
  padding-top: 20px;
}
.favorite,
#location {
  padding: 7px 9px;
  margin-left: 12px;
  border-radius: 50%;
}

#location {
  padding: 7px 11px;
}

#buttons {
  padding-left: 0;
  text-align: center;
}
#search-box {
  border-radius: 40px;
  border: 0;

  background-color: white;
  opacity: 0.5;
  line-height: 35x;
}

#temperature-now {
  padding-top: 20px;
  margin-top: 15px;
  width: 100%;
}
#col-city h1 {
  line-height: 20px;
  font-size: 30px;
}

#col-city {
  padding-right: 0px;
}
#col-city p {
  line-height: 20px;
  text-align: left;
}

.icon-temp-now {
  font-size: 55px;
  position: relative;
}

.fa-cloud-sun {
  font-size: 28px;
  line-height: 30px;
}

#col-details {
  line-height: 30px;
  text-align: right;
}

#week {
  width: 100%;
  text-align: center;
}
#week h3 {
  font-size: 25px;
}

#week .card {
  margin: 15px 10px;
  border-radius: 35px;
}
#other-cities .card {
  margin: 15px 5px;
  text-align: center;
  border-radius: 35px;
}
.card {
  border: 0px;
  background-color: transparent;
  border-radius: 35px;
  margin-top: 15px;
  opacity: 0.6s;
  transition: all 200ms ease-in-out;
  padding-left: 10px;
  padding-right: 10px;
}
.card:hover {
  background-color: #72beff;
}
.fahrenheit,
.celsius {
  opacity: 0.5;
  color: white;
  cursor: pointer;
}
#time {
  background-color: transparent;
  font-size: 14px;
  border: 0px;
  box-shadow: 0px 0px 0px;
  color: white;
  cursor: pointer;
  padding-left: 0px;
  opacity: 0.7;
}
.fahrenheit:hover,
#time:hover,
.celsius:hover {
  opacity: 1;
  cursor: pointer;
  transition: all 200ms ease-in-out;
  text-decoration: none;
}

.fahrenheit:link {
}
.whole {
  background-image: linear-gradient(
    -225deg,
    #5d9fff 0%,
    #b8dcff 48%,
    #6bbbff 100%
  );
  margin-top: 10px;
  padding: 50px 5px 20px;
  border-radius: 30px;
  box-shadow: 0px 15px 15px rgba(0, 0, 0, 0.3);
  font-family: "Hind Siliguri", sans-serif;
  max-width: 100%;
}
#units {
  position: relative;
  font-size: 30px;
  top: -17px;
}
#search-box {
  width: 100%;
}

.active {
  text-decoration: none;
  opacity: 1;
  cursor: auto;
}
body {
  position: relative;
  display: block;
  max-width: fit-content;
  margin: 10px auto 60px;
  color: white;
  padding: 0px 20px;
}

#units {
  max-width: fit-content;
}
